body{
    margin: 0;
    padding: 0;
    background-color: #e3e3e3;
    z-index: -9999;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.container{

    /* Grid Area */
    display: grid;
    grid-template-columns: 15% 20% 20% 20% auto;
    grid-template-rows: auto;
    grid-row-gap: 18px;
    grid-column-gap: 10px;
    grid-template-areas: 
                "header header header header header"
                "categories slider slider slider slider"
                "filters products products products products" 
                "subscription subscription subscription subscription subscription"
                "footer footer footer footer footer ";
}


.header{
      /*Grid Areas  */
    grid-area: header;

    height: 5rem;
    position: fixed;
    width: 100%;
    

    background-color: #f6f6f8 ;
    border: rgba(0, 0, 0, 0.527) 0.08rem solid;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
.slider{
    /* Size  */
    grid-area: slider;
    height: 40rem;
    margin-top: 6rem;

    background-color: #f6f6f8 ;
    border: rgba(0, 0, 0, 0.527) 0.08rem solid;
    border-radius: 1.5rem;
}
.categories{
    /* Size  */
    grid-area: categories;
    grid-auto-flow: column;
    height: fit-content;
    margin-top: 6rem;

    background-color: #f6f6f8 ;


    border: rgba(0, 0, 0, 0.527) 0.08rem solid;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}


.filters{
    grid-area: filters;
    background-color: #f6f6f8;
    border: rgba(0, 0, 0, 0.527) 0.08rem solid;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;

    margin-top: 9rem;


}

.products-area{
    grid-area: products;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, 25rem);
    margin-top: 8rem;
    height: auto;

    justify-content: center;

}
.subscription{
    grid-area: subscription;

    display: grid;
    grid-template-areas: ". . ."
                           ". s ."
                           ". . .";
    grid-template-columns: 20% 60% 20%; 
    grid-template-rows: auto auto auto;
    height: 15rem;


    background-color: #f6f6f8 ;
    border: rgba(0, 0, 0, 0.527) 0.08rem solid;
}

.subscription > form {
    grid-area: s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}
.subscription > form > input{
    margin-right: 1rem;
}

.subscription > form > button{
    border-radius: 1rem;
}
.footer{
    grid-area: footer;
    height: 15rem;


    background-color: #f6f6f8 ;
    border: rgba(0, 0, 0, 0.527) 0.08rem solid;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}
